/* MODIFICATIONS GLOBALES */

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* line-height: 1.5; */
}


/* VARIABLES COULEURS DANS PSEUDO CLASSE RACINE DU DOCUMENT */

 :root {
    --bleu: #0065fc;
    --bleuClair: #deebfd;
    --grisFond: #f2f2f2;
    --grisFonce: #d9d9d9;
    --margeMd: 3rem;
    --margeSm: 1.3rem;
}

.txt--bleu {
    color: var(--bleu);
}

.txt--gris {
    color: var(--grisFonce);
}

.txt--intertitre {
    font-size: 1.1rem;
}

.txt--gras {
    font-weight: bold;
}

.txt--star {
    font-size: 0.8rem;
    margin-right: 0.06rem;
}

ul {
    list-style-type: none;
}

h3 {
    line-height: 100%;
    margin-bottom: 1rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover,
a:active {
    text-decoration: none;
    color: var(--bleu);
}

button:hover {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}


/* Small devices (phones, 767px and down) */

@media only screen and (max-width: 767px) {
    /* HEADER */
    header img {
        position: absolute;
        left: var(--margeSm);
        top: 2rem;
        height: 2.8rem;
    }
    .header-menu {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    /* NAV PRINCIPALE */
    .header-menu nav {
        width: 100%;
    }
    .header-menu nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .header-menu nav ul li {
        padding-top: 2.2rem;
        align-items: center;
        border-top: .2rem solid white;
    }
    .header-menu nav ul li:nth-child(3) {
        order: -1;
        flex: 1 0 100%;
        text-align: right;
        padding-top: 2.9rem;
    }
    .header-menu nav ul li:nth-child(3) a {
        color: var(--bleu);
        margin-right: var(--margeSm);
    }
    .header-menu nav ul li:nth-child(1) {
        order: 0;
        border-bottom: .2rem solid var(--bleu);
        flex: 1 0 50%;
        text-align: center;
    }
    .header-menu nav ul li:nth-child(1) a {
        color: var(--bleu);
        padding-bottom: 0.5rem;
    }
    .header-menu nav ul li:nth-child(2) {
        order: 1;
        border-bottom: .2rem solid var(--grisFond);
        flex: 1 0 50%;
        text-align: center;
        padding-bottom: 0.5rem;
    }
    .header-contenu {
        margin: 0rem var(--margeSm);
    }
    h1,
    h2 {
        margin: 2rem 0rem 0.8rem 0rem;
        font-size: 1.4rem;
    }
    .btn--txt-not-sm {
        display: none;
    }
    form {
        margin: 2rem 0;
        height: 3.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        border-radius: 0.8rem;
        border: solid var(--grisFond);
        border-width: 1px 0 1px 0;
    }
    form label {
        background-color: var(--grisFond);
        color: black;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem 0 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    form input {
        width: 10rem;
        height: 3.2rem;
        flex-grow: 2;
        padding-left: 1rem;
        outline: none;
        box-sizing: border-box;
        border: solid var(--grisFond);
        border-width: 1px 0 1px 0;
    }
    form button {
        background-color: var(--bleu);
        color: white;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        border-color: var(--bleu);
        border: none;
        flex-shrink: 0;
    }
    form button i {
        display: inline!important;
    }
    .filtres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .filtres p {
        order: -1;
        order: -1;
        flex: 1 0 100%;
    }
    .filtres__btn {
        white-space: nowrap;
        background-color: white;
        margin: 0.7rem 0.5rem 0rem 0;
        padding: 0 1.2rem 0 0;
        height: 3.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid var(--grisFonce);
        border-width: 2px 2px 2px 0;
        border-radius: 2rem;
    }
    .filtres button .txt--gras {
        font-size: 0.96rem;
    }
    /* ASIDE */
    .aside-info {
        align-items: flex-start;
        margin: 1.9rem var(--margeSm) 0 var(--margeSm);
    }
    .aside-txt {
        margin-left: 0.7rem;
        margin-top: .2rem;
    }
    /* CONTENT */
    .content {
        /* margin: 2.2rem 2.2rem 3.5rem 2.2rem; */
        margin: 2.2rem 0rem 3.5rem 0rem;
    }
    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hebergements {
        order: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .populaires {
        order: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hebergements {
        padding: 2.3rem 0 0 0;
    }
    .populaires {
        background-color: var(--grisFond);
        padding: 2.3rem 0 2.3rem 0;
    }
    .hebergements {
        flex: 0 0 100%;
    }
    .populaires {
        flex: 0 0 100%;
    }
    .activites {
        flex: 0 0 100%;
    }
    .hebergements h2 {
        margin: 0.5rem var(--margeSm) 0.5rem var(--margeSm);
    }
    .populaires h2 {
        margin: 0.5rem 0 1rem var(--margeSm);
    }
    .populaires-titre i {
        margin-right: var(--margeSm);
    }
    .populaires-titre {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hebergements-carte,
    .populaires-carte {
        background-color: white;
        line-height: 1.5;
        margin-top: 0.8rem;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        padding: 0.35rem;
        border-radius: 1.2rem;
    }
    .populaires-carte {
        margin-right: var(--margeSm);
        margin-left: var(--margeSm);
        width: 100%;
    }
    .hebergements-carte {
        margin-right: var(--margeSm);
        margin-left: var(--margeSm);
        width: 100%;
    }
    .hebergements-carte p {
        margin-left: 0.7rem;
    }
    .hebergements-carte-plus {
        align-self: flex-end;
        line-height: 1.5;
        margin: 1.5rem var(--margeSm) 0 var(--margeSm);
        padding: 0.4rem;
        font-size: 1.1rem;
    }
    .populaires-carte a {
        display: flex;
        flex-direction: row;
    }
    .carte-populaires__txt {
        padding: 0.8rem 0.5rem 0.5rem 1.4rem;
    }
    .carte-populaires__txt i {
        padding-top: 1.3rem;
    }
    .hebergements .carte__img,
    .populaires .carte__img {
        object-fit: cover;
    }
    .hebergements .carte__img {
        border-radius: 0.8rem 0.8rem 0 0;
        height: 6.55rem;
        width: 100%;
    }
    .populaires .carte__img {
        border-radius: 0.8rem 0 0 0.8rem;
        height: 8.15rem;
        width: 7.5rem;
    }
    .activites {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activites h2 {
        margin-left: var(--margeSm);
        margin-right: var(--margeSm);
        margin-bottom: 1.5rem;
    }
    .activites-carte {
        margin-left: var(--margeSm);
        margin-right: var(--margeSm);
        width: 100%;
        background-color: white;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 1.2rem;
    }
    .activites-carte a p {
        padding: 1rem;
    }
    .activites-carte a img {
        object-fit: cover;
        object-position: 50% 13%;
        border-radius: 0.8rem 0.8rem 0 0;
        width: 100%;
        height: 8rem;
    }
    .activites--x2 {
        margin-left: var(--margeSm);
        margin-right: var(--margeSm);
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activites--x2 a {
        flex: 0 0 100%;
        background-color: white;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 1.2rem;
    }
    .activites--x2 a img {
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
        width: 100%;
        height: 8rem;
    }
    .activites--x2 a p {
        padding: 1rem;
    }
    .imgH--xl {
        object-position: 50% 41%;
    }
    .imgH--md1,
    .imgH--md2,
    .imgH--sm {
        object-position: top;
    }
    .imgH--md1 {
        object-position: 50% 11%;
    }
    .imgH--md2 {
        object-position: 50% 21%;
    }
    .activites-carte,
    .activites--x2 a:not(.carte--last) {
        margin-bottom: 1.5rem;
    }
    /* FOOTER */
    footer {
        flex-wrap: wrap;
        padding: var(--margeSm) var(--margeSm);
    }
    footer section {
        width: 100%;
    }
    .footer__hebergements,
    .footer__propos,
    .footer__assistance {
        flex: 0 0 100%;
    }
    .footer__hebergements,
    .footer__assistance {
        margin-top: var(--margeSm);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    html,
    body {
        max-width: 1440px;
        margin: auto;
    }
    .header-top {
        display: flex;
    }
    .header-top .logo {
        margin: 2rem 0 0 var(--margeMd);
    }
    .header-menu {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;
    }
    /* NAV PRINCIPALE */
    .header-menu nav ul {
        display: flex;
        flex-direction: row;
        padding-right: var(--margeMd);
    }
    .header-menu nav ul li {
        padding: 3rem 1.5rem 0rem 1.5rem;
        align-items: center;
        border-top: .2rem solid white;
    }
    .header-menu nav ul li:nth-child(1) {
        border-top: .2rem solid var(--bleu);
    }
    .header-menu nav ul li:nth-child(1) a {
        color: var(--bleu);
    }
    .header-contenu {
        margin: 0 var(--margeMd) 0 var(--margeMd);
    }
    .header-menu nav ul li:nth-child(3) a {
        color: var(--bleu);
    }
    .txt--ss-titre {
        margin-top: 0.5rem;
    }
    h1 {
        margin-top: 1.8rem;
    }
    h1,
    h2 {
        font-size: 1.37rem;
    }
    form {
        margin: 1.1rem 0;
        height: 3.2rem;
        width: 1rem;
        display: flex;
    }
    form label {
        background-color: var(--grisFond);
        color: black;
        min-width: 3.2rem;
        min-height: 3.2rem;
        border-radius: 0.8rem 0 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form input {
        height: 3.2rem;
        padding-left: 1rem;
        outline: none;
        box-sizing: border-box;
        border: solid var(--grisFond);
        border-width: 1px 0 1px 0;
    }
    form button {
        background-color: var(--bleu);
        color: white;
        height: 3.2rem;
        border-radius: 0 0.8rem 0.8rem 0;
        padding: 0 1rem;
        border-color: var(--bleu);
        border: none
    }
    form button i {
        display: none!important;
    }
    .filtres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .filtres p {
        margin-right: 2.1rem;
        /* vert-align avec boutons */
        padding-bottom: 4px;
    }
    .filtres__btn {
        white-space: nowrap;
        background-color: white;
        margin: 0.7rem 1.9rem 1rem 0;
        padding: 0 1.5rem 0 0;
        height: 3.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid var(--grisFonce);
        border-width: 2px 2px 2px 0;
        border-radius: 2rem;
    }
    /* ASIDE */
    .aside-info {
        align-items: center;
        margin: 1.1rem var(--margeMd) 0 var(--margeMd);
    }
    .aside-txt {
        padding-left: 1rem;
    }
    /* CONTENT */
    .content {
        margin: 2.2rem 2.2rem 3.5rem 2.2rem;
    }
    .content,
    .hebergements {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .populaires {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hebergements,
    .populaires {
        background-color: var(--grisFond);
        border-radius: 1.2rem;
        padding: 2.3rem;
    }
    .hebergements {
        flex: 0 0 61.5%;
    }
    .populaires {
        flex: 0 0 25%;
    }
    .activites {
        flex: 0 0 100%;
    }
    .hebergements h2 {
        flex: 0 0 100%;
        margin-top: 0.5rem;
    }
    .populaires h2 {
        margin-top: 0.5rem;
    }
    .populaires-titre {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hebergements-carte,
    .populaires-carte {
        background-color: white;
        line-height: 1.5;
        margin-top: 1.5rem;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        padding: 0.35rem;
        border-radius: 1.2rem;
    }
    .populaires-carte {
        width: calc(100% - 1rem);
    }
    .hebergements-carte {
        width: calc(31.6% - 1rem);
    }
    .hebergements-carte p {
        margin-left: 0.7rem;
    }
    .hebergements-carte-plus {
        align-self: flex-end;
        line-height: 1.5;
        margin-top: 1.5rem;
        padding: 0.4rem;
    }
    .populaires-carte a {
        display: flex;
        flex-direction: row;
    }
    .carte-populaires__txt {
        padding: 0.8rem 0.5rem 0.5rem 1.4rem;
    }
    .carte-populaires__txt i {
        padding-top: 1.3rem;
    }
    .hebergements .carte__img,
    .populaires .carte__img {
        object-fit: cover;
    }
    .hebergements .carte__img {
        border-radius: 0.8rem 0.8rem 0 0;
        height: 6.55rem;
        width: 100%;
    }
    .populaires .carte__img {
        border-radius: 0.8rem 0 0 0.8rem;
        height: 8.15rem;
        width: 7.5rem;
    }
    .activites {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activites h2 {
        flex: 0 0 100%;
        margin-bottom: 1.5rem;
    }
    .activites-carte {
        width: calc(24% - 1rem);
        background-color: white;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 1.2rem;
    }
    .activites-carte a p {
        padding: 1rem;
    }
    .activites-carte a img {
        object-fit: cover;
        object-position: 45% 100%;
        border-radius: 0.8rem 0.8rem 0 0;
        width: 100%;
        height: 25rem;
    }
    .activites--x2 {
        width: calc(24% - 1rem);
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activites--x2 a {
        background-color: white;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
        border-radius: 1.2rem;
    }
    .imgH--xl,
    .imgH--md1,
    .imgH--md2,
    .imgH--sm {
        object-fit: cover;
        border-radius: 0.8rem 0.8rem 0 0;
        width: 100%;
    }
    .activites--x2 a p {
        padding: 1rem;
    }
    .imgH--xl {
        height: 11rem;
    }
    .imgH--md1 {
        object-position: top;
        height: 8.5rem;
    }
    .imgH--md2 {
        object-position: top;
        height: 10.5rem;
    }
    .imgH--sm {
        object-position: top;
        height: 8rem;
    }
}


/* FOOTER */

footer {
    padding: var(--margeMd);
}

footer section {
    width: 33%;
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /* HEADER */
    /* NAV PRINCIPALE */
    /* ASIDE */
    /* SECTION HEBERGEMENTS */
    /* SECTION POPULAIRES */
    /* SECTION ACTIVITES */
    /* FOOTER */
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    /* HEADER */
    /* NAV PRINCIPALE */
    /* ASIDE */
    /* SECTION HEBERGEMENTS */
    /* SECTION POPULAIRES */
    /* SECTION ACTIVITES */
    /* FOOTER */
}


/* HEADER */

.icon--cercle,
.icon--wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--circle-full {
    background-color: var(--bleuClair);
    border: none;
    border-radius: 50%;
    overflow: hidden;
    width: 3.2rem;
    height: 3.2rem;
}


/* NAV PRINCIPALE */


/* ASIDE */

.aside-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.icon--circle-bordered {
    border-radius: 50%;
    overflow: hidden;
    border: 0.05rem solid var(--grisFonce);
    width: 1.4rem;
    height: 1.4rem;
    min-width: 1.4rem;
    min-height: 1.4rem;
}


/* CONTENT */

.content {
    display: flex;
}


/* FOOTER */

footer {
    background-color: var(--grisFond);
    display: flex;
}

footer section ul li {
    line-height: 2.1rem;
}

.horsecran {
    position: absolute;
    left: -1000rem;
}


/* FILTRES EFFET HOVER */

.filtres__btn:hover,
.filtres__btn:focus,
.filtres__btn:active {
    -webkit-animation-name: hvr-filtres;
    animation-name: hvr-filtres;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes hvr-filtres {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-filtres {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}